<div class="table-container" *ngIf="dataSource | async as data">
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns;let i = index" (click)="sortTable(col, data)">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" *ngFor="let entity of dataSource | async as data; let i = index" (click)="getShipDetails(entity)">
        <td *ngFor="let col of columns">
          <div *ngIf="col === 'important'; else tableCell"><input type="checkbox" [checked]="entity[col]" (change)="isImportant(entity, data)"></div>
          <ng-template #tableCell>{{entity[col]}}</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>


